<div>
  <h2>{{title}}</h2>
  <p>{{text}}</p>
  <p>Created by {{user.first_name}} {{user.last_name}} on {{format_date date_created}}</p>
</div>

{{#if post.Comments}}
    <section>
      <div>
        <h3>Comments</h3>
      </div>

      <div>
        {{#each post.Comments}}
          <div>
            <p>
              {{body}}
            </p>
            <p>
              &mdash; {{User.username}}, {{format_date createdAt}}
            </p>
          </div>
        {{/each}}
      </div>
    </section>
  {{/if}}

  <form id="commentForm" >
    <div >
      <h3>Add New Comment</h3>
    </div>

    <div >
      <input type="hidden" name="post-id" value="{{post.id}}" />

      <label for="comment-body">Comment</label>

      <textarea name="comment-body" ></textarea>

      <button type="submit" >Submit</button>
    </div>
  </form>
</div>

<script src="/js/comment.js"></script>